.flex-row {
  background-color:  #2a1055d5;
  padding: 50px;
  display: flex;
  flex-direction: column;
  width: 550px;
  float: right;
  margin-right: 500px;
  margin-top: 40px;
  border-radius: 25px;
  box-shadow: whitesmoke 0 0 7px;
}

.Name h1 {
  display: flex;
  float: left;
  margin-left: 75px;
  margin-top: 400px;
  text-shadow: rgb(124, 122, 122) 0 0 7px;
  font-size: 60px;
  color: rgb(134, 131, 131);
}

.section-Title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 50px;
  text-align: center;
}

.second-border {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

.flex-row p {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 9px;
  text-shadow: whitesmoke 0 0 3px;
}

.contacts {
  margin-top: 500px;
  margin-left: 275px;
  position: absolute;
  display: flex !important;
  flex-direction: row;
  list-style: none;
}

.contacts li {
  list-style: none;
  position: relative;
}
