.jobs {
    background: #2b1055;
    opacity: 80%;
    border-radius: 20px;
    box-shadow: #D5F2EA 0 0 10px;
    color: #75BFB2;
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
    scroll-behavior: smooth;
}
.job {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D5F2EA;
}
.job-text {
    text-shadow: #D5F2EA 0 0 5px;
    color: #75BFB2;
    font-size: large;
}
.job-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: #75BFB2;
}

.Portfolio h1 {
    text-shadow: whitesmoke 0 0 5px;
    margin-left: 10px;
}